@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: rgb(174, 190, 248);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  border: 1px solid rgb(43, 168, 246);
  border-radius: 5px;
  background-color: rgb(227, 248, 255);
  color: rgb(5, 102, 115);
  text-align: center;
  padding: 5px;
}

input[type="text"]{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(51, 4, 76);
}

#tasks {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

:checked + label {
  text-decoration: line-through;
  color: rgb(129, 5, 32)
}
